extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagenNosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Est laboris duis amet aliqua aliquip excepteur. Ipsum id quis officia adipisicing in. Ad nulla amet nulla pariatur.
                p Mollit cupidatat aliquip et sit fugiat cupidatat. Occaecat qui ex sint voluptate. Non officia reprehenderit cillum qui exercitation.
                p Aliqua dolore et ad est nulla eiusmod irure nisi ea consectetur pariatur laborum ullamco. Laborum consectetur Lorem nostrud est esse proident minim laborum duis qui qui ut. Non amet pariatur esse proident ullamco proident veniam ex irure quis proident pariatur culpa. Ut culpa dolore ad reprehenderit exercitation aute enim proident pariatur.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="iconoSeguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla sunt duis in non nisi. Mollit excepteur minim adipisicing eu amet aliqua ad labore dolore laborum reprehenderit qui. Quis minim labore tempor sit labore elit.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="iconoDestino", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Nulla sunt duis in non nisi. Mollit excepteur minim adipisicing eu amet aliqua ad labore dolore laborum reprehenderit qui. Quis minim labore tempor sit labore elit.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="iconoPrecios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Nulla sunt duis in non nisi. Mollit excepteur minim adipisicing eu amet aliqua ad labore dolore laborum reprehenderit qui. Quis minim labore tempor sit labore elit.